<div id="mlb-scores" class="flex flex--col w--full h--full">
    <div id="upcoming_games" class="flex flex--row w--full gap--xsmall text--center"></div>
    <div class="flex flex--row flex--center-x flex--stretch w--full flex--content-between">
        <div id="card--left" class="card flex flex--col flex--stretch-x">
            <div id="next_game"></div>
        </div>
        <div id="card--right" class="card flex flex--col flex--stretch-x">
            <div class="title flex bg--gray-5 pt--1 pb--1"><p class="text--center w--full">Previous Games</p></div>
            <div id="previous_games" class="flex flex--col"></div>
        </div>
    </div>
</div>
<div id="mlb-footer" class="title_bar"></div>

<script>
(function() {
    // Layout
    const container = document.getElementById('mlb-scores');
    const containerUpcomingGames = document.getElementById('upcoming_games');
    const containerNextGame = document.getElementById('next_game');
    const containerPreviousGames = document.getElementById('previous_games');
    const footer = document.getElementById('mlb-footer');

    (async function() {
    try {
        let html = "";

        const teamInfo = await getTeamInfo(teamId);  // Get team info
        const games = await getTeamSchedule(teamId); // Get team schedule
        const record = getTeamRecord(games);           // Get team record

        /*
         * --- Footer ---
         */
        html = `
            <img src="${teamInfo.logo}" alt="${teamInfo.name} logo" class="image">
            <span class="instance"><strong>${teamInfo.name}</strong> (${record.wins} - ${record.losses})</span>
        `;
        footer.innerHTML = html;

        /*
         * --- Upcoming Games Row ---
         */
        html = "";
        if (games.upcoming.length > 1) {
            parseUpcomingGames(games.upcoming).forEach(game => {
                html += `
                    <div class="game flex flex--col flex--center-x flex--center-y p--2 bg--black">
                        <div class="matchup"><span class="text--white">${game.matchup}</span></div>
                        <div class="dayofweek"><span class="text--white">${game.dayofweek}</span></div>
                        <div class="gametime"><span class="text--white">${game.date} &middot; ${game.time}</span></div>
                    </div>
                `;

            })
        }
        containerUpcomingGames.innerHTML = html;

        /*
         * --- Next Game column ---
         */
        if (games.upcoming.length > 0) {
            nextGame = getNextGame(games.upcoming[0]);

            html = `
                <div class="title flex bg--gray-5 pt--1 pb--1"><p class="text--center w--full">${nextGame.title}</p></div>
                <div id="next_game" class="flex flex--col flex--center-y h--full">
                    <div id="my_team" class="flex w--full flex--center-x">
                        ${nextGame.myTeam.name} ${nextGame.matchupSep}
                    </div>
                    <div id="matchup" class="flex w--full flex--center-x">
                    <span><strong>${nextGame.oppTeam.name}</strong></span>
                    </div>
                    <div id="image" class="flex w--full flex--center-x">
                        <img
                            src="${nextGame.oppTeam.logo}"
                            alt="${nextGame.oppTeam.name} logo"
                        />
                    </div>
                    <div id="datetime" class="flex w--full flex--center-x">
                        ${nextGame.date} &middot; ${nextGame.time}
                    </div>
                </div>
            `;
        } else {
            html = `
                <div class="title flex bg--gray-5 pt--1 pb--1"><p class="text--center w--full">No Upcoming Games</p></div>
                <div id="next_game" class="flex flex--col flex--center-y h-full items-center">
                    <div class="value">
                        ${teamInfo.name}
                    </div>
                    <div id="image">
                        <img
                            src="${teamInfo.logo}"
                            alt="${teamInfo.name} logo"
                        />
                    </div>
                    <div id="datetime">
                        ${record.wins} - ${record.losses} (${record.pct})
                    </div>
                </div>
            `;
        }
        containerNextGame.innerHTML = html;

        /*
         * --- Previous Games column ---
         */
        html = "";
        if (games.previous.length > 0) {
            parsePreviousGames(games.previous).slice(-7).reverse().forEach(game => {
                const backgroundClass = game.result === "L" ? 'bg--gray-6' : '';
                html += `
                    <div id="previous_games_row" class="grid col--start grid--cols-5 ${backgroundClass}">
                        <div id="date" class="grid col--center col--span-1">${game.date}</div>
                        <div id="matchup" class="grid col--center col--span-2">${game.matchup}</div>
                `
                if (game.statusCode !== "F") {
                    const statusText = game.detailedState + (game.statusReason ? ` - ${game.statusReason}` : "");
                    html += `<div id="not_final" class="grid col--center col--span-2">${game.statusText || "Not Final"}</div>`;
                } else {
                    html += `
                        <div id="score" class="grid col--center col--span-1">${game.formattedScore}</div>
                        <div id="result" class="grid col--center col--span-1">${game.result}</div>
                    `
                };
                html += `</div>`;
            });
        } else {
            // No previous games
            html = `
                <div class="flex flex--row flex--center-x flex--center-y p--5">
                    <div class="value w--full">No previous games</div>
                </div>
            `;
        }
        containerPreviousGames.innerHTML = html;
    } catch (e) {
        container.innerHTML = '<div class="flex flex--row w--full h--full"><div class="flex flex--col flex--center-x flex--center-x"><p>Could not load MLB scores. Please try again later.</p>' +
             `<p>Line ${e.lineNumber}: ${e}</p></div></div>`;
    }
    })();
})();
</script>
