<div id="mlb-scores" class="flex flex--col flex--stretch-y h--full">
    <div class="flex flex--row w--full h--full">
        <div class="flex flex--col flex--center-x w--3/4">
            <span class="text--center w--3/4"></>
                This layout is coming soon! File a suggestion for layout or pull request on GitHub
                at <br /> https://github.com/SeanSith/trmnl_mlb_scores
            </span>
            <img src="https://raw.githubusercontent.com/SeanSith/trmnl_mlb_scores/refs/heads/main/src/qrcode-github.com.png"
                 alt="QR code to GitHub repo"
                 style="width: 125px" />
        </div>
    </div>
</div>
<div id="mlb-footer" class="title_bar">
    <img src="https://usetrmnl.com/images/plugins/trmnl--render.svg" alt="Generic TRMNL Logo" class="image">
    <span class="instance"><strong>MLB Scores</strong> - Error</span>
</div>
